@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    width: 100%;
    height:auto;
    font-family: 'Poppins', sans-serif;
}
.container{
    width:100%;
    height:auto;
    background-color: #d8f0fb;
}
header nav{
    width:100%;
    height:70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu-icon{
    display: none;
}
.closeicon{
    display: none;
}
.sticky{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
}

nav ul{
    display: flex;
}
nav ul li a{
   color:black;
   font-weight: bold;
   padding: 0px 20px;
}
nav ul li a:hover{
    border-bottom: 2.5px solid #285430;
    color: #285430;
}
.activebtn{
    color:#285430
}
#logo{
    font-family: cursive;
    padding: 5px 10px;
    color: #285430;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}
.hero-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

.content-section h3{
    font-size: 40px;
    font-weight: bolder;
    margin: 5px;
}
.content-section h1{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}
.content-section p{
    font-size: 20px;
    margin: 5px;
}
.content-section #shop-btn{
    padding: 10px 20px;
    background-color: #285430;
    border: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}
#shop-btn:hover{
    transform: scale(1.1);
}

.image-section img{
    width:100%;
    height:500px;
    object-fit: contain;
    padding: 10px;
}
.products-header{
  text-align: center;
  font-size: 30px;
  color: #285430;
}
.product-items{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,300px);
    place-content: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,300px);
   
}
.productitem{
    width:250px;
    height:370px;
    background-color: #F7F7F7;
    border-radius: 15px;
    margin: 20px 5px;
    transition: 0.1s ease;
    border: 3px solid #004543;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.collection{
    text-align: center;
    margin:5px 0px;
}
.card-img{
    width:150px;
    height:150px;
    margin: 0 auto;
}
.cards img{
    width:150px;
    height:150px;
    border-radius: 5px;
    border: 1px solid;
    object-fit: cover;
    object-position: center;
}
.details{
    text-align: center;
}
.header{
    font-weight: bold;
}
.ratings{
    color:#dfcb1f;
    margin: 0 auto;
}
.price{
    color: #285430;
    font-size: 18px;
}

.addtocart{
    background-color: #004543;
    color:white;
    border: none;
    outline: none;
    border-radius: 5px;
    width:100%;
    height:30px;
    padding: 15px 0px;
    margin: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shop-title{
    text-align: center;
    color:#004543;
}
.addtocart:hover{
    transform: scale(1.1);
}
.searchbox{
    display: flex;
    justify-content: center;
}
#searchbtn{
    width:300px;
    height:30px;
    border-radius: 5px;
    border: 1px solid #004543;
    padding-left: 10px;
}

.services{
    width:100%;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.434)),url(/css/images/servicebg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    padding: 20px;
    font-size:22px;
}
#explorebtn{
    padding: 5px 20px;
    background-color: #d8f0fb;
    color:black;
    border-radius: 5px;
}
.new-arrivals{
    width:100%;
    height:100vh;
}
.products-offer{
    text-align: center;
    color:#285430;
}
#banner-top{
    width:100%;
    height:auto;
}
.banner-box{
   display: grid;
   grid-template-columns:repeat(2,650px);
   justify-content: center;
   gap:20px;
   margin: 10px 0px;
}
.bannerup-card{
    height:40vh;
    padding: 30px;
    font-size: 24px;
    color:white;
    border-radius: 5px;
}

.banner-1{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.434)),url("../css/images/img20.jpg");
    background-color: #285430;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.banner-2{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.434)), url("../css/images/img23.jpg");
    background-color: #285430;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-box span{
    background-color: #102314;
    padding: 5px 10px;
    border-radius: 5px;
}
.banner-box button{
    padding: 10px 15px;
    background-color: #d8f0fb;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    margin-top: 10px;
}
#banner-down{
    width:100%;
    height:auto;
    margin: 10px 0px;
}
.banner-down-box{
    display: grid;
    grid-template-columns: repeat(3,420px);
    justify-content: center;
    gap:20px;
}
.bannerdown-card{
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    color:white;
    background-color: #285430;
    border-radius: 5px;
}
.bannerdown-1{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.434)), url("../css/images/img21.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerdown-2{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.434)), url("../css/images/img22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerdown-3{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.434)), url("../css/images/img19.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#signupbox{
    width:100%;
    height:auto;
    margin: 10px 0px;
}
.singup-form{
    background-color: #004543;
    width:100%;
    height:25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}
.right-box{
    display: flex;
}
#email{
    width:270px;
    height:40px;
    padding-left: 10px;
    border:none;
    border-radius: 5px;
}
#signup{
    border: none;
    background-color: #d8f0fb;
    color:black;
    margin-left: 2px;
    width: 30%;
    height:40px;
    font-weight: bold;
    border-radius: 5px;
}
.footer-section{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
    padding: 20px 0px;
}
.footer-section h4{
    font-size: 20px;
    font-weight: bold;
    color: #004543;
}
.box-4 img{
    width:100%;
    height:80px;
    object-fit: contain;
}
#paymenticons{
    border-radius: 5px;
    background-color: #004543;
}
#copyrights{
    text-align: center;
    padding: 5px;
    background-color: #004543;
    color:white;
}
.shopbanner{
 width:100%;
 height:150px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color:white;
 margin: 10px 0px; 
 background-color: #004543;
}
/*blog*/
#blog-sec{
    margin: 20px 0px;
}
#blog{
    width:100%;
    height: auto;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
.blog-img img{
    width:100%;
    height:300px;
    object-fit: cover;
    border-radius: 25px;
}
.blog-content{
    width:50%;
}
.blog-content p{
    width:70%;
    letter-spacing: 1px;
}
.blog-content  h5{
    font-size: 20px;
}
.blog-content h6{
    font-size: 14px;
}

/*about page*/

.aboutus{
    width:100%;
    background-color: #004543;
    padding: 20px;
    text-align: center;
    color: white;
}
.about-box{
    width:100%;
    height:auto;
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    gap:20px;
}
.aboutimg{
    width:50%;
    display: flex;
    justify-content: flex-end;
}
#aboutpic{
    width:400px;
    height:400px;
    object-fit: contain;
    border-radius: 20px;
    border: 5px solid #004543;
}
.about-content{
    width:50%;
}
.about-content p{
    width:70%;
    letter-spacing: 1px;
}
.about-content h5{
    font-size: 26px;
    color: #004543;
}
#app-mockup{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}
.app-container{
    width:800px;
    height:500px;
    background-color: #004543;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    color: white;
}
.mockup-content p{
    font-size: 22px;
    font-weight: bold;
}
.mockup-content h3{
    font-size: 32px;
}
.appbg{
    width:200px;
    height:400px;
    background-color: white;
    border-radius: 30px;
    border: 5px solid rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/css/images/model7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.appbg p{
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: bolder;
}
.app-container img{
    width:250px;
    height:250px;
    object-fit: contain;
}
#camera{
    position: absolute;
    width:100px;
    height:15px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    left: 23%;
    top: 0%;
}

/*contact page*/
.contactus{
   text-align: center;
   width:100%;
   height:20vh;
   background-color: #004543;
   color:white;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.contact-box{
    display: flex;
    margin: 10px 0px;
}
.contact-details{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap:15px;
}
.contact-details h4{
    font-size: 20px;
    font-weight: bold;

}
.contact-details p{
    font-size: 18px;
    font-weight: bold;
}
.contact-address{
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap:20px;
}
.contact-location{
    width:50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#contact-form{
    width:100%;
    height: auto;
    margin: 50px 0px;
    background-color: #004543;
}
#contact-form img{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius: 50%;
}
.contact-from-box{
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
.form{
   width:60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
   color: white;
}
.form input{
    width:700px;
    height:40px;
    margin: 10px 0px;
    text-align: left;
    padding-left:10px;
    border-radius: 5px;
    border: 1px solid #004543;
    outline: none;
}
#submitbtn{
    padding: 10px 20px;
    background-color: #d8f0fb;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.profile{
    width:30%;
}
.profile .profileitems{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap:20px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 25px;
}
/*cart-page*/

.cartbg{
    width:600px;
    min-height: 500px;
    height:auto;
    background-color: #004543;
    position: fixed;
    right:-100%;
    top:0;
    text-align: center;
    padding: 20px 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cartbg-active{
    right: 0;
    transition: 0.5s;
    z-index: 100;
}
#cartclose{
    position: absolute;
    right:15px;
    top:15px;
    color: white;
}
.cart-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2px solid white;
    color:#16FF00;
    font-weight: bold;
}
.cart-header{
    text-align: center;
    color: white;
}

.cart-box img{
    width:50px;
    height:50px;
    object-fit: cover;
}
.total-cart{
    text-align: end;
    color:#16FF00;
    font-weight: bold;
    padding: 5px;
}
.cart-details .cart-quantity{
    width:30%;
    padding: 5px;
    border: none;
    text-align: center;
    margin: 5px;
}
.cart-details .cart-title{
    font-size: 14px;
    font-weight: bold;
    color: red;
}
.cart-price{
    color:#16FF00;
}
.removeitem{
    display: flex;
    gap:20px;
}
.removebtn{
    font-size: 16px;
    width:60px;
    height: 30px;
    background-color: red;
    color:white;
    border: none;
    outline: none;
    border-radius: 10px;
}
.removebtn:hover{
    transform: scale(1.1);
}
.place-order{
    padding: 10px 10px;
    background-color: #32fc20;
    border: none;
    outline: none;
    border-radius: 10px;
    font: 12px;
}
#cart{
    position: relative;
    font-size: 24px;
}
.cart-count{
    width:20px;
    height:20px;
    background-color: red;
    color: white;
    position: absolute;
    top:-15px;
    right:-4px;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: scale(1.1);
    display: none;
    
}
.alertel{
    width:350px;
    height:150px;
    background-color:white;
    color:green;
    border-radius: 20px;
    font-weight: bold;
    position: fixed;
    text-align: center;
    line-height:140px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition: 0.5s ease;
    z-index: 200;
    border: 2px solid #102314;
    font-size: 20px;
    display: none;
}
.alertel span{
    position: absolute;
    top:-50px;
    right:8px;
    color:red;
}
.searchbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.searchbuttons button{
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: #004543;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 0px 5px;
}


@media only screen and (min-width: 300px) and (max-width:600px){
    .container{
        width:100%;
        height:auto;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 50px;
        font-size: 30px;
        position: relative;
    }
    .cards{
       display: grid;
       grid-template-columns: 1fr;
    }
    .productitem{
        width:200px;
        height:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F7F7F7;
        border-radius: 15px;
        margin: 20px 5px;
        font-size: 18px;
        transition: 0.3s ease;
    }
    .card-img{
        width:100px;
        height:100px;
    }
    .total-cart{
        text-align: end;
    }
    .cards img{
        width:100px;
        height:100px;
    }
    .cards h5{
        font-size: 14px;
    }
    .cards h4{
        font-size: 14px;
    }
    .cards p{
        font-size: 8px;
        text-align: center;
    }
    .cards i{
        font-size: 14px;
    }
    .menu{
       display: none;
    }
    .menu-icon{
        display: block;
    }
   .hero-container .content-section{
    order:2;
    text-align: center;
   }
   .content-section h3{
    font-size: 22px;
   }
   .content-section h1{
    font-size: 20px;
   }
   #products-header{
    font-size: 14px;
   }
   .hero-container img{
   height: 350px;
   width:100%;
   }
   .product-items{
    width: 100%;
    display: grid;
    grid-template-columns:220px;
    justify-content: center;
   }
   .services{
    width:100%;
    font-size: 16px;
   }
   .banner-box{
   display: grid;
   grid-template-columns: 350px;
   justify-content: center;
   margin-bottom: 20px;
   text-align: center;
   object-fit: contain;
   border-radius: 10px;
   font-size: 10px;
   }
   .banner-box p{
    font-size: 12px;
   }
   .banner-down-box{
    display: grid;
    grid-template-columns: 350px;
    justify-content: center;
    text-align: center;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
   }
   .singup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
   }
   .footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:20px;
    padding: 20px 0px;
    font-size: 16px;
   }
   #copyrights{
    font-size: 10px;
   }
   .activemenu{
   display: block;
   position: absolute;
   top:100px;
   padding: 10px;
   left:0;
   width:100%;
   height:210px;
   text-align: center;
   background-color: rgb(240, 251, 255);
   font-size: 16px;
   border: 1px solid black;
   }
   .shopbanner h3,h1{
    font-size: 16px;
   }
   #blog{
    width:100%;
    height: auto;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.blog-img img{
    width:300px;
    height:300px;
    object-fit: cover;
    border-radius: 25px;
}
.blog-content{
    width:100%;
    text-align: center;
    font-size: 14px;
}
.blog-content p{
    width:100%;
    padding: 10px;
    text-align: justify;
}
.about-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutimg{
    width:70%;
    padding: 10px;
}
#aboutpic{
    width:100%;
    height:300px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid #004543;
}
.about-content{
    width:100%;
}
.about-content p{
    width:100%;
    text-align: justify;
    padding: 10px;
}
.about-content h5{
    text-align: center;
}
.app-container{
    width:400px;
    height: 800px;
    background-color: #004543;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    text-align: center;
    gap:5px;
}
.mockup-content p{
    font-size: 16px;
}
.mockup-content h3{
    font-size: 18px;
}

/*contact sec*/
.contact-box{
    width:100%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.contact-details{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-details p{
    font-size: 16px;
}
.contact-details h5{
    font-size: 18px;
}
.contact-location{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.contact-from-box{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    width:100%;
}
.form input{
    width:80%;
   
}
#submitbtn{
    width:100%;
}
.profile{
    width:100%;
    display: flex;
    justify-content: center;
}
.profileitems img{
    width:30px;
    height:30px;
}
.profileitems p{
    font-size: 10px;
    word-wrap: break-word;
}
.profile .profileitems{
    width:300px;
}
.addtocart{
    height:20px;
}
/*cart*/
.cartbg{
    width:350px;
    height:100vh;
    background-color: white;
    position: fixed;
    right:-100%;
    top:0;
    border: 2px solid;
    text-align: center;
    background-color: #004543;
    color: white;
    padding: 20px 0px;
    font-size: 12px;
}
.cartbg-active{
    right: 0;
    transition: 0.5s;
    z-index: 100;
}
.place-order{
    width:80px;
    height:30px;
    padding: 5px;
    margin: 0px 10px;
}
}

@media only screen and (min-width: 600px) and (max-width:992px){
    .container{
        width:100%;
        height:auto;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 50px;
        font-size: 30px;
        position: relative;
    }
    .menu{
       display: none;
    }
    .menu-icon{
        display: block;
    }
   .hero-container .content-section{
    order:2;
    text-align: center;
   }
   .hero-container img{
   height: 350px;
   width:100%;
   }
   .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
   }
   .product-items{
    width: 100%;
    display: grid;
    grid-template-columns: 270px 270px;
    justify-content: center;
   }
   .services{
    width:100%;
   }
   .banner-box{
   display: grid;
   grid-template-columns: 1fr;
   margin-bottom: 20px;
   text-align: center;
   object-fit: contain;
   border-radius: 10px;
   }
   .banner-down-box{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
   }
   .singup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }
   .footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:20px;
    padding: 20px 0px;
    font-size: 18px;
   }
   #copyrights{
    font-size: 14px;
   }
   .activemenu{
   display: block;
   position: absolute;
   top:100px;
   padding: 10px;
   left:0;
   width:100%;
   height:230px;
   text-align: center;
   background-color: #d8f0fb;
   font-size: 18px;
   }
   .shopbanner h3,h1{
    font-size: 18px;
   }
   .shopbanner h3,h1{
    font-size: 14px;
   }
   #blog{
    width:100%;
    height: auto;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.blog-img img{
    width:100%;
    height:300px;
    object-fit: cover;
    border-radius: 25px;
}
.blog-content{
    width:100%;
    text-align: center;
    font-size: 18px;
}
.blog-content p{
    width:100%;
    padding: 10px;
    text-align: justify;
}
.about-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutimg{
    width:80%;
    padding: 10px;
}
#aboutpic{
    width:100%;
    height:600px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid #004543;
}
.about-content{
    width:100%;
}
.about-content p{
    width:100%;
    text-align: justify;
    padding: 10px;
}
.about-content h5{
    text-align: center;
}
.app-container{
    width:600px;
    height: 800px;
    background-color: #004543;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    text-align: center;
    gap:5px;
}
.mockup-content p{
    font-size: 18px;
}
.mockup-content h3{
    font-size: 22px;
}
/*contact sec*/
.contact-box{
    width:100%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-details{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-location{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.contact-from-box{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    width:100%;
}
.form input{
    width:600px;
}
#submitbtn{
    width:100%;
}
.profile{
    width:100%;
    display: flex;
    justify-content: center;
}
.profile .profileitems{
    width:500px;
}
.cartbg{
    width:400px;
    height:100vh;
    background-color: white;
    position: fixed;
    right:-100%;
    top:0;
    border: 2px solid;
    text-align: center;
    background-color: #004543;
    color: white;
    padding: 20px 0px;
    font-size: 16px;
}
.cartbg-active{
    right: 0;
    transition: 0.5s;
    z-index: 100;
}
.place-order{
    width:80px;
    height:30px;
    padding: 5px;
    margin: 0px 10px;
}
   
}